@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-youtube:before { content: '\e002'; } /* '' */
.icon-mail:before { content: '\e0eb'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */